.sendForm {

}

.textarea {
    border-radius: 20px;
    max-width: 976px;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    background-color: #f5f7fb;
}

.button {

}

.button:hover {

}
.button:active {

}
